<div class="d-flex justify-content-center">

   <form class="d-flex flex-column w-50 mt-3 border border-primary px-3 py-3 rounded" action="/auth/login" method="POST">
      <label class="form-label"> Username:
         <input class="form-control" type="text" name="username">
      </label>
      <label class="form-label"> Password:
         <input class="form-control" type="password" name="password">
      </label>

      <button class="btn btn-primary mt-3" type="submit">Submit</button>
   </form>

</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}