<div class='d-flex justify-content-center'>
	{{#if errorMessage}}
		{{errorMessage}}
	{{/if}}

	<form
		class='d-flex flex-column w-50 mt-3 border border-primary px-3 py-3 rounded'
		action='/auth/signup'
		method='POST'
	>
		<label class='form-label'>
			Username:
			<input class='form-control' type='text' name='username' />
		</label>
		<label class='form-label'>
			Password:
			<input class='form-control' type='password' name='password' />
		</label>

		<button type='submit' class="btn btn-primary mt-3"> Create new account</button>
	</form>
</div>