

<div class="active-page">
</div>

<form action="/projects/keep-them-alive" method="GET" class="keep-form">
  <button type="submit"> KEEP ME ALIVE </button>
</form>

<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
