<form action="/projects/add-project" method="POST" >

  <input
    class="form-control"
    type="text"
    placeholder=""
    name="endPointsLink"
    required
  />
  <input
    class="form-control"
    type="text"
    name="clientSideLink"
    placeholder=""
  />

  <input
    class="form-control"
    type="text"
    name="activeUserName"
    placeholder=""
    required
  />
  <input
    class="form-control"
    type="password"
    name="activePassword"
    placeholder=""
    required
  />
  <button type="submit" class="btn btn-warning">Submit</button>
</form>