<form
	action='/projects/add-project'
	method='POST'
	class='mt-3 mb-3 border rounded d-flex flex-column px-3 py-3'
>

	{{#if errorMessage}}

		<div class="alert alert-danger" role="alert"> 
			{{errorMessage}} 
		</div>
		
	{{/if}}

	<label class='form-label'>
		Project Name:
		<input
			class='form-control mt-1'
			type='text'
			placeholder='Plato Planner'
			name='projectName'
			required
		/>
	</label>

	<label class='form-label'>
		Backend Link:
		<input
			class='form-control mt-1'
			type='text'
			placeholder='https://plato-api.herokuapp.com/keep-alive'
			name='endPointsLink'
			required
		/>
	</label>
	{{! 
	<label class='form-label mt-1'>
		Frontend Link:
		<input
			class='form-control mt-1'
			type='text'
			name='clientSideLink'
			placeholder='Frontend link'
		/>
	</label> }}

	{{! <label class='form-label mt-1'>
		Login information (username/email):
		<input
			class='form-control mt-1'
			type='text'
			name='activeUserName'
			placeholder='Valid login information'
			required
		/>
	</label>

	<label class='form-label mt-1'>
		Password:
		<input
			class='form-control mt-1'
			type='password'
			name='activePassword'
			placeholder='Valid password'
			required
		/>
	</label> }}

	<div class='d-flex justify-content-center'>

		<button type='submit' class='btn btn-warning mt-3 me-2'> Submit new project </button>

		<button type='reset' class='btn btn-outline-danger mt-3'> Cancel </button>

	</div>

</form>